.details-button {
 background-color: rgb(39, 39, 165);
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
    width:100% ;/* Ocupar el 100% del ancho del contenedor */
  font-size: 16px; /* Tamaño de la fuente */
  margin: 0; /* Eliminar margen exterior */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón */
  border-radius: 12px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.details-button:hover {
  background-color: #549cb4; /* Nuevo color de fondo al pasar el ratón */
}

 